<link rel="stylesheet" href="{{ url_for('static', filename='email_editor.css') }}">
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/46.0.2/ckeditor5.css" crossorigin>
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5-premium-features/46.0.2/ckeditor5-premium-features.css" crossorigin>

<div class="main-container">
    <div class="editor-container editor-container_classic-editor editor-container_include-outline editor-container_include-style" id="editor-container">
        <div class="editor-container__editor-wrapper">
            <div class="editor-container__sidebar" id="editor-outline"></div>
            <div class="editor-container__editor">
                <form id="editorForm" method="POST" action="{{ url_for('save_email_message') }}">
                    {{ form.hidden_tag() }}
                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
                        {{ form.save() }}
                        <button type="button" class="btn btn-success" onclick="window.location.href='{{ url_for('admin_dashboard') }}'">New Message</button>
                        <a href="{{ url_for('select_message') }}" class="btn btn-secondary" style="margin-left:auto;">Open</a>
                    </div>
                    {% if not message_id %}
                    <div style="margin-bottom: 1rem;">
                        <input type="text" name="degreeCode" placeholder="Degree Code" required>
                        <input type="number" name="week_released" placeholder="Week Released" required>
                    </div>
                    {% endif %}
                    {{ form.message_id(value=message_id or "") }}
                    {{ form.message_content() }}
                    <div id="editor"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/46.0.2/ckeditor5.umd.js" crossorigin></script>
<script src="https://cdn.ckeditor.com/ckeditor5-premium-features/46.0.2/ckeditor5-premium-features.umd.js" crossorigin></script>
<script src="https://cdn.ckbox.io/ckbox/2.6.1/ckbox.js" crossorigin></script>
<script src="{{ url_for('static', filename='email_editor.js')}}"></script>
