{% extends "base.html" %}

{% block title %} Login Page {% endblock %}

{% block content %}
    <!-- Login Space -->
    <div id="login-form" style="display: block;">
        <h1>Login</h1>
        <form method="post">
            {{ login_form.hidden_tag() }}
            {{ login_form.user_id.label }} {{ login_form.user_id }}
            {{ login_form.password.label }} {{ login_form.password }}
            {{ login_form.submit }}
        </form>
        <p>Don't have an account? <a href="#" onclick="showSignup()">Sign Up</a></p>
    </div>

    <!-- Sign up Space -->
    <div id="signup-form" style="display: none;">  
        <h2>Sign Up</h2>
        <form method="post">
            {{ signup_form.hidden_tag() }}
            {{ signup_form.user_id.label }} {{ signup_form.user_id }}
            {{ signup_form.first_name.label }} {{ signup_form.first_name }}
            {{ signup_form.last_name.label }} {{ signup_form.last_name }}
            {{ signup_form.email.label }} {{ signup_form.email }}
            {{ signup_form.password.label }} {{ signup_form.password }}
            {{ signup_form.location.label }} {{ signup_form.location }}
            {{ signup_form.degree_type.label }} {{ signup_form.degree_type }}
            {{ signup_form.degree_code.label}} {{ signup_form.degree_code }}
            {{ signup_form.support_needs.label }} {{ signup_form.support_needs }}
            {{ signup_form.enrollment_status.label }} {{ signup_form.enrollment_status}}
            {{ signup_form.stage.label }} {{ signup_form.stage }}
            {{ signup_form.additional_info.label }} {{ signup_form.additional_info }}
            {{ signup_form.submit }}
        </form>
        <p>Already have an account? <a href="#" onclick="showLogin()">Login</a></p>  
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='LoginPage.js') }}"></script>
{% endblock %}